/*  your css code here. If applicable */
body{
    padding:0;
    margin:0;

}
.hero{
    display: flex;
    width: 100%;
    height: 100vh;
}
.hero-image{
    width:65%;
}
.hero-image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.hero-text{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    text-align: center;
}
.hero-text button{
    background: #FF0002;
    border: none;
    border-radius: 2px;
    padding: 12px 26px;
    color: white;
}